# Ans : 1

In [1]:
'''
Database : A database is a structured collection of data that is organized in a way that allows for efficient storage, 
           retrieval, and management of information.


Difference between SQL and NoSQL database :
 
 SQL database : 
     > SQL databases are relational databases that use a structured schema and organize data into tables with rows and columns. 
     > SQL databases follow the ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring that 
       sactions are processed reliably.
    > SQL databases require a predefined schema, meaning the structure of the data must be defined before inserting data. 
    
  NoSQL database:
    > NoSQL databases are non-relational and do not require a fixed schema.
    > NoSQL database often follow the CAP (Consistency, Availability, Partition Tolerance) theorem, where systems 
      n provide at most two out of three.
    > NoSQL databases allow for dynamic and flexible schemas.
'''

'\nDatabase : A database is a structured collection of data that is organized in a way that allows for efficient storage, \n           retrieval, and management of information.\n\n\nDifference between SQL and NoSQL database :\n \n SQL database : \n     > SQL databases are relational databases that use a structured schema and organize data into tables with rows and columns. \n     > SQL databases follow the ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring that \n       sactions are processed reliably.\n    > SQL databases require a predefined schema, meaning the structure of the data must be defined before inserting data. \n    \n  NoSQL database:\n    > NoSQL databases are non-relational and do not require a fixed schema.\n    > NoSQL database often follow the CAP (Consistency, Availability, Partition Tolerance) theorem, where systems \n      n provide at most two out of three.\n    > NoSQL databases allow for dynamic and flexible schemas.\n'

# Ans : 2

In [2]:
'''
DDL : Data Definition Language is a subset of SQL (Structured Query Language) used to define and manage the structure
     of a relational database. DDL statements are responsible for defining and managing the database schema,
     including creating, altering, and deleting database objects such as tables, indexes, and views.
     
Uses of : 

    > CREATE : The CREATE statement is used to create a new database object, such as a table, index, or view.
    > DROP : The DROP statement is used to delete an existing database object, such as a table or index. 
             This action irreversibly removes the object and its data from the database.
    > ALTER : The ALTER statement is used to modify the structure of an existing database object,
              such as adding or removing columns from a table.
    > TRUNCATE : The TRUNCATE statement is used to quickly delete all rows from a table but retains the table 
                 structure for future use. 
'''

'\nDDL : Data Definition Language is a subset of SQL (Structured Query Language) used to define and manage the structure\n     of a relational database. DDL statements are responsible for defining and managing the database schema,\n     including creating, altering, and deleting database objects such as tables, indexes, and views.\n     \nUses of : \n\n    > CREATE : The CREATE statement is used to create a new database object, such as a table, index, or view.\n    > DROP : The DROP statement is used to delete an existing database object, such as a table or index. \n             This action irreversibly removes the object and its data from the database.\n    > ALTER : The ALTER statement is used to modify the structure of an existing database object,\n              such as adding or removing columns from a table.\n    > TRUNCATE : The TRUNCATE statement is used to quickly delete all rows from a table but retains the table \n                 structure for future use. \n'

# Ans : 3

In [1]:
'''
DML(data manipulation language) :  Data Manipulation Language, is a subset of SQL (Structured Query Language) that deals 
                                   with the manipulation of data stored in a database. 
                                   DML statements are used to retrieve, insert, update, and delete data within database tables.

The three main DML statements are INSERT, UPDATE, and DELETE.

1. INSERT : The INSERT statement is used to add new rows of data into a table.
   Example : Inserting a new employee record into the employees table.
            INSERT INTO employees (employee_id, employee_name, salary, department_id)
            VALUES (1, 'John Doe', 50000.00, 101);
        
2. UPDATE : The UPDATE statement is used to modify existing data in a table.
   Example: Updating the salary of employee 'John Doe' to 55000.00.
            UPDATE employees
            SET salary = 55000.00
            WHERE employee_name = 'John Doe';
            
3. DELETE : The DELETE statement is used to remove rows from a table based on a specified condition.
   Example: Deleting an employee record with the ID of 1.
           DELETE FROM employees
           WHERE employee_id = 1;
           
'''

"\nDML(data manipulation language) :  Data Manipulation Language, is a subset of SQL (Structured Query Language) that deals \n                                   with the manipulation of data stored in a database. \n                                   DML statements are used to retrieve, insert, update, and delete data within database tables.\n\nThe three main DML statements are INSERT, UPDATE, and DELETE.\n\n1. INSERT : The INSERT statement is used to add new rows of data into a table.\n   Example : Inserting a new employee record into the employees table.\n            INSERT INTO employees (employee_id, employee_name, salary, department_id)\n            VALUES (1, 'John Doe', 50000.00, 101);\n        \n2. UPDATE : The UPDATE statement is used to modify existing data in a table.\n   Example: Updating the salary of employee 'John Doe' to 55000.00.\n            UPDATE employees\n            SET salary = 55000.00\n            WHERE employee_name = 'John Doe';\n            \n3. DELETE : The DELETE statement is used to remove rows from a table based on a specified condition.\n   Example: Deleting an employee record with the ID of 1.\n           DELETE FROM employees\n           WHERE employee_id = 1;\n           \n"

# Ans : 4

In [ ]:
'''
DQL(data query language ) : DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language)
                            used for querying and retrieving data from a relational database. 
                            
SELECT : The SELECT statement is used to query the database and retrieve specific data from one or more tables. 
         It allows you to specify the columns you want to retrieve, the table from which to retrieve the data,
         and conditions to filter the results.
         
        Example : Suppose we have a table named employees with columns such as employee_id, employee_name, salary, and department_id.
                  To retrieve the names and salaries of all employees in the IT department with a salary greater than $50,000, we
                  can use the following SELECT statement:
                  SELECT employee_name, salary
                  FROM employees
                  WHERE department_id = 101 AND salary > 50000;
'''

# Ans : 5

In [1]:
'''
Primary Key : A primary key is a unique identifier for a record in a relational database table. It uniquely identifies each
             record in the table and ensures that there are no duplicate or null values in the key column. The primary key is
             used to establish a link between different tables and to enforce the entity integrity of the database.
             Example : Consider a table named employees with columns employee_id, employee_name, and salary. The employee_id 
                      column can be designated as the primary key:
                      CREATE TABLE employees (
                      employee_id INT PRIMARY KEY,
                      employee_name VARCHAR(50),
                      salary DECIMAL(10, 2)
                      );
                      
                      
Foreign Key : A foreign key is a column or a set of columns in a database table that refers to the primary key of another 
              table. It establishes a link or relationship between the two tables by enforcing referential integrity. The
              purpose of a foreign key is to ensure that the values in the foreign key column(s) correspond to the values in
              the primary key of the referenced table.
              Example : Consider two tables, employees and departments. The employees table has a foreign key department_id
                        that references the primary key department_id in the departments table:
                        CREATE TABLE departments (
                        department_id INT PRIMARY KEY,
                        department_name VARCHAR(50)
                    );

                    CREATE TABLE employees (
                        employee_id INT PRIMARY KEY,
                        employee_name VARCHAR(50),
                        salary DECIMAL(10, 2),
                        department_id INT,
                        FOREIGN KEY (department_id) REFERENCES departments(department_id)
                    );

'''

'\nPrimary Key : A primary key is a unique identifier for a record in a relational database table. It uniquely identifies each\n             record in the table and ensures that there are no duplicate or null values in the key column. The primary key is\n             used to establish a link between different tables and to enforce the entity integrity of the database.\n             Example : Consider a table named employees with columns employee_id, employee_name, and salary. The employee_id \n                      column can be designated as the primary key:\n                      CREATE TABLE employees (\n                      employee_id INT PRIMARY KEY,\n                      employee_name VARCHAR(50),\n                      salary DECIMAL(10, 2)\n                      );\n                      \n                      \nForeign Key : A foreign key is a column or a set of columns in a database table that refers to the primary key of another \n              table. It establishes a link or relationship between the two tables by enforcing referential integrity. The\n              purpose of a foreign key is to ensure that the values in the foreign key column(s) correspond to the values in\n              the primary key of the referenced table.\n              Example : Consider two tables, employees and departments. The employees table has a foreign key department_id\n                        that references the primary key department_id in the departments table:\n                        CREATE TABLE departments (\n                        department_id INT PRIMARY KEY,\n                        department_name VARCHAR(50)\n                    );\n\n                    CREATE TABLE employees (\n                        employee_id INT PRIMARY KEY,\n                        employee_name VARCHAR(50),\n                        salary DECIMAL(10, 2),\n                        department_id INT,\n                        FOREIGN KEY (department_id) REFERENCES departments(department_id)\n                    );\n\n'

# Ans : 7

In [ ]:
'''

Syntax of SQL query :
SELECT [columns]
FROM [table]
WHERE [conditions]
GROUP BY [columns]
HAVING [conditions]
ORDER BY [columns]

FROM Clause : The FROM clause is the first to be executed. It specifies the table or tables from which the data will be retrieved.

WHERE Clause : The WHERE clause filters the rows based on specified conditions. It is applied after the FROM clause and before the GROUP BY clause.

GROUP BY Clause : The GROUP BY clause is used to group rows that have the same values in specified columns. It is applied after the WHERE clause.

HAVING Clause : The HAVING clause filters the groups produced by the GROUP BY clause based on specified conditions. It is applied after the GROUP BY clause.

SELECT Clause : The SELECT clause is used to specify the columns that should be included in the result set. It is applied after the previous clauses have been processed.

ORDER BY Clause:

The ORDER BY clause is the last to be executed. It is used to sort the result set based on specified columns and their sort order.